<div align="center">
	<h1>Bem vindo ao Tutorial de NickNish</h1>
	<p>Aprenderemos hoje a fazer um chat em tempo real utilizando o Action Cable e conceitos sobre websockets</p>
	<img src="https://neilpatel.com/wp-content/uploads/2017/04/chat.jpg">
</div>